In [1]:
import pyspark_cassandra

In [2]:
from pyspark.sql.types import *

In [3]:
event = StructType([
    StructField('event_id', StringType(), True),
    StructField('event_name', StringType(), True),
    StructField('event_url', StringType(), True),
    StructField('time', LongType(), True)
])
group_topics = ArrayType(StructType([
    StructField('urlkey', StringType(), True),
    StructField('topic_name', StringType(), True)
]))
group = StructType([
    StructField('group_city', StringType(), True),
    StructField('group_country', StringType(), True),
    StructField('group_id', IntegerType(), True),
    StructField('group_name', StringType(), True),
    StructField('group_lon', FloatType(), True),
    StructField('group_lat', FloatType(), True),
    StructField('group_urlname', StringType(), True),
    StructField('group_state', StringType(), True),
    StructField('group_topics', group_topics, True)
])
venue = StructType([
    StructField('venue_name', StringType(), True),
    StructField('lon', FloatType(), True),
    StructField('lat', FloatType(), True),
    StructField('venue_id', IntegerType(), True),
])
member = StructType([
    StructField('member_id', IntegerType(), True),
    StructField('photo', StringType(), True),
    StructField('member_name', StringType(), True),
])
schema = StructType([
    StructField('event', event, True),
    StructField('group', group, True),
    StructField('venue', venue, True),
    StructField('visibility', StringType(), True),
    StructField('response', StringType(), True),
    StructField('guests', IntegerType(), True),
    StructField('member', member, True),
    StructField('rsvp_id', LongType(), True),
    StructField('mtime', LongType(), True)
])

In [4]:
df = spark.read.json('file:///home/bondk/Data/2018-03-29_061608.json', schema)

In [5]:
df.printSchema()

root
 |-- event: struct (nullable = true)
 |    |-- event_id: string (nullable = true)
 |    |-- event_name: string (nullable = true)
 |    |-- event_url: string (nullable = true)
 |    |-- time: long (nullable = true)
 |-- group: struct (nullable = true)
 |    |-- group_city: string (nullable = true)
 |    |-- group_country: string (nullable = true)
 |    |-- group_id: integer (nullable = true)
 |    |-- group_name: string (nullable = true)
 |    |-- group_lon: float (nullable = true)
 |    |-- group_lat: float (nullable = true)
 |    |-- group_urlname: string (nullable = true)
 |    |-- group_state: string (nullable = true)
 |    |-- group_topics: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- urlkey: string (nullable = true)
 |    |    |    |-- topic_name: string (nullable = true)
 |-- venue: struct (nullable = true)
 |    |-- venue_name: string (nullable = true)
 |    |-- lon: float (nullable = true)
 |    |-- lat: float (nullable = true)
 |    |-- venue_id: integer (nullable = true)
 |-- visibility: string (nullable = true)
 |-- response: string (nullable = true)
 |-- guests: integer (nullable = true)
 |-- member: struct (nullable = true)
 |    |-- member_id: integer (nullable = true)
 |    |-- photo: string (nullable = true)
 |    |-- member_name: string (nullable = true)
 |-- rsvp_id: long (nullable = true)
 |-- mtime: long (nullable = true)

In [6]:
from datetime import datetime
import pytz

```sql
CREATE TABLE IF NOT EXISTS meetup_analysis.world_stat_by_date (
    mdate date,
    group_country text,
    group_city text,
    event_name text,
    event_id text,
    event_time timestamp,
    venue_name text,
    count int,
    event_url text,
    lon float,
    lat float,
    topics set<text>,
PRIMARY KEY ((mdate), count, group_country, event_id));
```

In [7]:
selected_country_df = df.select('mtime', 'group.group_country', 'group.group_city', 
                             'event.event_name', 'event.event_id', 'event.time',
                             'venue.venue_name', 'event.event_url', 'venue.lon', 'venue.lat', 
                             'group.group_topics') \
    .where((df.visibility == 'public') & (df.response == 'yes'))
selected_country_df.printSchema()

root
 |-- mtime: long (nullable = true)
 |-- group_country: string (nullable = true)
 |-- group_city: string (nullable = true)
 |-- event_name: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- time: long (nullable = true)
 |-- venue_name: string (nullable = true)
 |-- event_url: string (nullable = true)
 |-- lon: float (nullable = true)
 |-- lat: float (nullable = true)
 |-- group_topics: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- urlkey: string (nullable = true)
 |    |    |-- topic_name: string (nullable = true)

In [8]:
from pyspark.sql.functions import *
import pytz

In [9]:
def parse_date(unix_time):
    if unix_time:
        return datetime.fromtimestamp(unix_time/1000, tz=pytz.utc).date()

def parse_time(unix_time):
    if unix_time:
        return datetime.fromtimestamp(unix_time/1000, tz=pytz.utc)
    
def merge_topics(arr):
    res = []
    for topic in arr:
        res.append(topic.asDict()['topic_name'])
    return res

parse_date_udf = udf(parse_date, DateType())
parse_time_udf = udf(parse_time, TimestampType())
merge_topics_udf = udf(merge_topics, ArrayType(StringType()))

In [10]:
country_df = selected_country_df \
    .withColumn('time', parse_time_udf(selected_country_df.time)) \
    .withColumnRenamed('time', 'event_time') \
    .withColumn('mtime', parse_date_udf(selected_country_df.mtime)) \
    .withColumnRenamed('mtime', 'mdate') \
    .filter("mdate = cast('2018-03-29' as DATE)") \
    .withColumn('group_topics', merge_topics_udf(selected_country_df.group_topics)) \
    .withColumnRenamed('group_topics', 'topics')
    
country_df.show()

+----------+-------------+----------+--------------------+------------+-------------------+--------------------+--------------------+----------+---------+--------------------+
|     mdate|group_country|group_city|          event_name|    event_id|         event_time|          venue_name|           event_url|       lon|      lat|              topics|
+----------+-------------+----------+--------------------+------------+-------------------+--------------------+--------------------+----------+---------+--------------------+
|2018-03-29|           us|  New York|NOTE - @IBM Atriu...|   249212630|2018-04-07 11:00:00|          IBM ATRIUM|https://www.meetu...|    -73.97|    40.76|[Intellectual Dis...|
|2018-03-29|           us| Las Vegas|Free Business Net...|   244917823|2018-04-05 18:30:00|Community Room at...|https://www.meetu...|-115.24644| 36.06594|[Network Marketin...|
|2018-03-29|           us|    Irvine|Deerfield Park Sa...|fhfvkpyxfbmc|2018-03-29 16:00:00|Deerfield Communi...|https://www.meetu...|-117.79306|33.690163|[Women's Fitness,...|
|2018-03-29|           us|  New York|NOTE - @IBM Atriu...|   249212630|2018-04-07 11:00:00|          IBM ATRIUM|https://www.meetu...|    -73.97|    40.76|[Intellectual Dis...|
|2018-03-29|           us| Charlotte|Rencontre mensuel...|mqfqlpyxgbpb|2018-04-11 08:00:00|      Central Coffee|https://www.meetu...|-80.858246|35.213608|[French Language,...|
|2018-03-29|           gb|    London|Brockwell Park No...|mxqbzlyxfbnc|2018-03-30 02:00:00|the Black Bird Ba...|https://www.meetu...| -0.102647| 51.45297|[Fitness, Hiking,...|
|2018-03-29|           ca|   Burnaby|$22 Golf Clinics ...|qzkhglyxgbfb|2018-04-03 19:00:00|Burnaby Mountain ...|https://www.meetu...| -122.9447| 49.26741|[Golf For Beginne...|
|2018-03-29|           nl| Amsterdam|Digital Maturity ...|   241588358|2018-06-01 07:00:00|       3D Makerszone|https://www.meetu...|   4.65766| 52.38476|[Business Leaders...|
|2018-03-29|           us| Las Vegas|Free Business Net...|   244917823|2018-04-05 18:30:00|Community Room at...|https://www.meetu...|-115.24644| 36.06594|[Network Marketin...|
|2018-03-29|           us| Charlotte|Rencontre mensuel...|mqfqlpyxgbpb|2018-04-11 08:00:00|      Central Coffee|https://www.meetu...|-80.858246|35.213608|[French Language,...|
|2018-03-29|           gb|    London|A​ ​craftsman’s​ ...|   249169443|2018-04-19 09:00:00|                null|https://www.meetu...|      null|     null|[Distributed Prog...|
|2018-03-29|           us| Bethlehem|Vegetarian/Vegan ...|   249207172|2018-04-13 15:30:00|Aman's Indian Bistro|https://www.meetu...| -75.28892|40.718456|[Vegetarian, Vega...|
|2018-03-29|           us|    Irvine|OC Python - Multi...|xrqfvnyxgbfb|2018-04-03 19:00:00|         PeopleSpace|https://www.meetu...|-117.84684| 33.69797|[Software Develop...|
|2018-03-29|           kr|     Seoul|1 on 1 Talk and M...|pfksgmyxfbpc|2018-03-31 00:00:00|                null|https://www.meetu...|      null|     null|[English as a Sec...|
|2018-03-29|           nl| Amsterdam|Digital Maturity ...|   241588358|2018-06-01 07:00:00|       3D Makerszone|https://www.meetu...|   4.65766| 52.38476|[Business Leaders...|
|2018-03-29|           us|    Austin|Sundays RSVP to g...|vhlrnlyxgbcb|2018-04-01 14:00:00|                null|https://www.meetu...|      null|     null|[Meditation, Dini...|
|2018-03-29|           us|   Atlanta|International Pil...|   248225520|2018-04-07 11:00:00|          Grant Park|https://www.meetu...| -84.37354|33.741592|[Outdoors, Outdoo...|
|2018-03-29|           us|   Atlanta|International Pil...|   248225520|2018-04-07 11:00:00|          Grant Park|https://www.meetu...| -84.37354|33.741592|[Outdoors, Outdoo...|
|2018-03-29|           sg| Singapore|Newbies Gathering...|   248924008|2018-03-29 04:00:00|Brotzeit German B...|https://www.meetu...| 103.83842| 1.300996|[Fun Times, Socia...|
|2018-03-29|           gb|   Bristol|Quiz Night at the...|cfglkpyxgbxb|2018-04-18 11:15:00|   The Stallards Inn|https://www.meetu...|  -2.21481|51.318302|[Singles, Explori...|
+----------+-------------+----------+--------------------+------------+-------------------+--------------------+--------------------+----------+---------+--------------------+
only showing top 20 rows

In [11]:
country_df.printSchema()

root
 |-- mdate: date (nullable = true)
 |-- group_country: string (nullable = true)
 |-- group_city: string (nullable = true)
 |-- event_name: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- event_time: timestamp (nullable = true)
 |-- venue_name: string (nullable = true)
 |-- event_url: string (nullable = true)
 |-- lon: float (nullable = true)
 |-- lat: float (nullable = true)
 |-- topics: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [12]:
country_total = country_df.groupBy('group_country').count()

country_total.show()

+-------------+-----+
|group_country|count|
+-------------+-----+
|           cr|    3|
|           us|39501|
|           eg|   29|
|           ge|    6|
|           il|  554|
|           cl|  256|
|           ro|  152|
|           ba|    4|
|           jp| 1035|
|           kw|    3|
|           by|    7|
|           lv|   12|
|           vn|   60|
|           pl|  937|
|           cn|  160|
|           za|  366|
|           sk|   13|
|           bd|   41|
|           mu|    2|
|           pt|  272|
+-------------+-----+
only showing top 20 rows

In [13]:
country_count = country_df.groupBy('group_country', 'event_id').count()
country_count.show()

+-------------+------------+-----+
|group_country|    event_id|count|
+-------------+------------+-----+
|           hk|   248347178|    2|
|           au|   247693201|    6|
|           au|   249217975|    3|
|           au|   249212482|    2|
|           us|   248782765|    1|
|           fr|   249219252|    3|
|           us|   248624894|    1|
|           us|   249164453|    1|
|           gb|   249202007|    1|
|           gb|jfbvcpyxjbnc|    2|
|           il|   249148989|   24|
|           in|jfzfkpyxfbmc|    2|
|           in|   248665498|    1|
|           hk|pnpvxlyzfblc|    1|
|           de|pzfmkpyxgbhb|    3|
|           gb|   249092419|    1|
|           pt|   249006060|    1|
|           gb|   248303101|   11|
|           gb|zxkrjpyxfbmc|    1|
|           gb|ftmtdpyxgbfb|    1|
+-------------+------------+-----+
only showing top 20 rows

In [14]:
country_max = country_count.groupBy('group_country') \
    .agg(max('count').alias('max')) \
    .withColumnRenamed('group_country', 'country')
country_max.show()

+-------+---+
|country|max|
+-------+---+
|     cr|  2|
|     us|122|
|     eg|  6|
|     ge|  4|
|     il| 51|
|     cl| 47|
|     ro| 20|
|     ba|  3|
|     jp| 20|
|     kw|  3|
|     by|  7|
|     lv|  5|
|     vn|  4|
|     pl| 71|
|     cn| 18|
|     za| 23|
|     sk|  4|
|     bd| 25|
|     mu|  2|
|     pt| 21|
+-------+---+
only showing top 20 rows

In [15]:
country_most_popular_event = country_count.join(broadcast(country_max), 
                   (country_count.group_country == country_max.country) & 
                   (country_count['count'] == country_max['max']), 'inner') \
    .select('country', 'event_id', 'max')  \
    .withColumnRenamed('event_id', 'id')
country_most_popular_event.show()

+-------+---------+---+
|country|       id|max|
+-------+---------+---+
|     mt|247017657|  2|
|     ae|249221874| 13|
|     cd|248532148|  2|
|     rw|248314612|  1|
|     hk|249223168| 11|
|     md|248571847|  8|
|     li|249155290|  4|
|     ec|248888214|  5|
|     gh|248131180|  2|
|     au|248205529| 28|
|     ua|247766004| 16|
|     de|249219430| 57|
|     np|249124429|  7|
|     bo|249192337| 10|
|     se|249220929| 67|
|     lk|249026348| 17|
|     sk|249224454|  4|
|     gh|248221282|  2|
|     ke|248948227|  6|
|     cr|248106326|  2|
+-------+---------+---+
only showing top 20 rows

In [16]:
country_popular_event_and_total = country_most_popular_event.join(broadcast(country_total), 
                                country_most_popular_event.country == country_total.group_country) \
    .select('country', 'id', 'max', 'count')
    
country_popular_event_and_total.show()

+-------+---------+---+-----+
|country|       id|max|count|
+-------+---------+---+-----+
|     mt|247017657|  2|    2|
|     ae|249221874| 13|  454|
|     cd|248532148|  2|    2|
|     rw|248314612|  1|    1|
|     hk|249223168| 11|  533|
|     md|248571847|  8|   11|
|     li|249155290|  4|    4|
|     ec|248888214|  5|    8|
|     gh|248131180|  2|    9|
|     au|248205529| 28| 2134|
|     ua|247766004| 16|  120|
|     de|249219430| 57| 2901|
|     np|249124429|  7|   11|
|     bo|249192337| 10|   37|
|     se|249220929| 67|  509|
|     lk|249026348| 17|   79|
|     sk|249224454|  4|   13|
|     gh|248221282|  2|    9|
|     ke|248948227|  6|   48|
|     cr|248106326|  2|    3|
+-------+---------+---+-----+
only showing top 20 rows

In [17]:
country_popular_event_detail_and_total = country_df.join(broadcast(country_popular_event_and_total), 
                country_df.event_id == country_popular_event_and_total.id).distinct() \
    .withColumnRenamed('count', 'total')

country_popular_event_detail_and_total.show()

+----------+-------------+-------------+--------------------+------------+-------------------+--------------------+--------------------+----------+---------+--------------------+-------+------------+---+-----+
|     mdate|group_country|   group_city|          event_name|    event_id|         event_time|          venue_name|           event_url|       lon|      lat|              topics|country|          id|max|total|
+----------+-------------+-------------+--------------------+------------+-------------------+--------------------+--------------------+----------+---------+--------------------+-------+------------+---+-----+
|2018-03-29|           it|      Bologna|Hyperledger : Blo...|   249221467|2018-06-13 10:00:00|   Osteria La Frasca|https://www.meetu...| 11.327358| 44.49448|[Decentralized Sy...|     it|   249221467| 15|  470|
|2018-03-29|           il|Tel Aviv-Yafo|Serverless meet E...|   248295491|2018-04-15 07:30:00|           Mindspace|https://www.meetu...|  34.77411|32.064617|[JavaScript, Java...|     il|   248295491| 51|  554|
|2018-03-29|           ng|        Lagos|TensorFlow Dev Su...|   249147819|2018-04-07 02:00:00|CCHub (Co Creatio...|https://www.meetu...|  3.380809| 6.495044|[Software Develop...|     ng|   249147819| 71|  118|
|2018-03-29|           so|    Mogadishu|Mahamoud Yusuf (E...|   248830681|2018-04-20 06:00:00|                null|https://www.meetu...|      null|     null|[Small Business, ...|     so|   248830681|  1|    1|
|2018-03-29|           my| Kuala Lumpur|In Order of Disap...|   249219321|2018-04-03 05:51:00|           Pisco Bar|https://www.meetu...|101.708916| 3.148655|[Watching Movies,...|     my|   249219321|  9|  129|
|2018-03-29|           mx|  Guadalajara|Patan Ale House—P...|   249200459|2018-03-31 14:00:00|     Patán Ale House|https://www.meetu...|-103.36449|20.675941|[Dining Out, Food...|     mx|   249200459|  7|  123|
|2018-03-29|           tr|     Istanbul|Yapay Öğrenme Mod...|   249187907|2018-04-04 09:15:00|Bahçeşehir Üniver...|https://www.meetu...| 29.009247| 41.04224|[Artificial Intel...|     tr|   249187907| 63|  460|
|2018-03-29|           by|      Homjel'|Google I/O Extend...|   249225075|2018-05-08 09:30:00|                null|https://www.meetu...|      null|     null|[Open Source, Sta...|     by|   249225075|  7|    7|
|2018-03-29|           hk|    Hong Kong|Apr07(Sat)1+1 AB ...|   249223168|2018-04-07 00:00:00|瑞和街體育館( Shui Wo S...|https://www.meetu...|  114.1796|22.318567|[Outdoors, Recrea...|     hk|   249223168| 11|  533|
|2018-03-29|           ae|        Dubai|Turkish lunch @t ...|   249221874|2018-04-09 03:00:00|   Zouzou restaurant|https://www.meetu...| 55.263676|25.232767|[Coffee, Moms, Wo...|     ae|   249221874| 13|  454|
|2018-03-29|           ie|       Dublin|Intuitive Design ...|   249222953|2018-04-17 10:00:00|             WeWork |https://www.meetu...| -6.261952| 53.33247|[Information Arch...|     ie|   249222953| 44|  690|
|2018-03-29|           do|Santo Domingo|Clase de Salsa y ...|qjkvmpyxgbfb|2018-04-03 16:00:00|   La Mochila Cowork|https://www.meetu...|-69.885994| 18.47233|[Web Design, Grap...|     do|qjkvmpyxgbfb|  3|    5|
|2018-03-29|           ke|      Nairobi|Lean Coffee - Agi...|jrqbnpyxgbqb|2018-04-12 07:30:00|       Pete's Coffee|https://www.meetu...|   36.7876|-1.295094|[Scrum, Scaling A...|     ke|jrqbnpyxgbqb|  6|   48|
|2018-03-29|           fi|     Helsinki|WordPress Meetup:...|nbnnjlyxgbgb|2018-04-04 07:30:00|      Microsoft Flux|https://www.meetu...| 24.946249|60.165237|[Open Source, Web...|     fi|nbnnjlyxgbgb| 26|  122|
|2018-03-29|           hr|       Zagreb|Frontend Zg Meetu...|   249183426|2018-04-04 09:00:00|           Degordian|https://www.meetu...|  15.94591| 45.81459|[Front-end Develo...|     hr|   249183426| 72|  171|
|2018-03-29|           us|       Boston|Scaling Bayesian ...|   249223271|2018-04-24 15:30:00|     McKinsey Boston|https://www.meetu...| -71.05255| 42.35357|[Statistical Comp...|     us|   249223271|122|39501|
|2018-03-29|           fr|        Paris|L'UX dans les Jeu...|   249116543|2018-04-05 09:30:00|      Blade / Shadow|https://www.meetu...|  2.346829| 48.87063|[Web Design, Info...|     fr|   249116543|129| 2722|
|2018-03-29|           ni|      Managua|Miércoles de Web ...|   249094407|2018-04-18 17:00:00|                null|https://www.meetu...|      null|     null|[Web Design, Word...|     ni|   249094407|  2|    2|
|2018-03-29|           lu|   Luxembourg|JavaScript Meetup...|lfvxbpyxgbnb|2018-04-03 10:00:00|       Sfeir Benelux|https://www.meetu...|  6.076397|49.568172|[Open Source, Edu...|     lu|lfvxbpyxgbnb| 10|   45|
|2018-03-29|           br|    São Paulo|#bluetalk Descubr...|   248661955|2018-04-10 15:30:00|                 IBM|https://www.meetu...|-46.649014|-23.57987|[Artificial Intel...|     br|   248661955| 84| 1098|
+----------+-------------+-------------+--------------------+------------+-------------------+--------------------+--------------------+----------+---------+--------------------+-------+------------+---+-----+
only showing top 20 rows

In [18]:
country_popular_event_detail_and_total.printSchema()

root
 |-- mdate: date (nullable = true)
 |-- group_country: string (nullable = true)
 |-- group_city: string (nullable = true)
 |-- event_name: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- event_time: timestamp (nullable = true)
 |-- venue_name: string (nullable = true)
 |-- event_url: string (nullable = true)
 |-- lon: float (nullable = true)
 |-- lat: float (nullable = true)
 |-- topics: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- country: string (nullable = true)
 |-- id: string (nullable = true)
 |-- max: long (nullable = true)
 |-- total: long (nullable = false)

In [20]:
country_popular_event_detail_and_total_rename = country_popular_event_detail_and_total \
    .select('mdate', 'group_country', 'total', 'group_city', 'event_name', 
            'event_id', 'event_time', 'venue_name', 'max', 'event_url', 'lon',
            'lat', 'topics') \
    .withColumnRenamed('max', 'count')
country_popular_event_detail_and_total_rename.printSchema()

root
 |-- mdate: date (nullable = true)
 |-- group_country: string (nullable = true)
 |-- total: long (nullable = false)
 |-- group_city: string (nullable = true)
 |-- event_name: string (nullable = true)
 |-- event_id: string (nullable = true)
 |-- event_time: timestamp (nullable = true)
 |-- venue_name: string (nullable = true)
 |-- count: long (nullable = true)
 |-- event_url: string (nullable = true)
 |-- lon: float (nullable = true)
 |-- lat: float (nullable = true)
 |-- topics: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [22]:
country_popular_event_detail_and_total_rename.write\
    .format("org.apache.spark.sql.cassandra")\
    .mode('append')\
    .options(table="world_stat_by_date", keyspace="meetup_analysis")\
    .save()